* {
  margin: 0px;
  padding: 0px;
  background-color: #fffdb5;
  color: #ff7d29;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 75px;
  width: 100%;
}

button {
  background-color: #ff7d29;
  color: #fffdb5;
  transition: background-color 0.15s;
  transition: color 0.15s;
}

button:active {
  background-color: #fffdb5;
  color: #ff7d29;
}

.logo {
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ff7d29;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-section,
a {
  text-decoration: none;
  margin-right: 30px;
}

#line {
  background-color: #ff7d29;
  height: 1px;
  margin: 0px 3px;
}

.book-now-btn {
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.title-container {
  text-align: center;
  line-height: 80px;
  margin-top: 50px;
}

.main-title {
  font-size: 40px;
}

.tour-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.tour-packages {
  overflow: hidden;
  border: 1px solid #ff7d29;
  border-radius: 10px;
}

.tour-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.title,
.description {
  margin: 0px 20px 20px;
}

.view-btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin-left: 44%;
}

.rental-container {
  text-align: center;
  margin-top: 50px;
  line-height: 50px;
}

#heading-rental {
  font-size: 40px;
}
#paragraph-rental {
  line-height: 20px;
  margin-top: 30px;
}

.rental-heading {
  margin-bottom: 20px;
  font-size: 30px;
}

.rental-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.read-more-btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  padding: 12px;
  margin-top: 15px;
}

.rental-title-container {
  margin-top: 20px;
}

footer {
  text-align: center;
  padding: 30px;
}

.copywrite {
  margin-top: 10px;
}
